<footer class="container-fluid text-center box_geral_1">
  <a href="#myPage" title="Para Cima">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Made by Daher's <a href="" title="Peer-to-Peer Lending">www.peercon.com</a></p> 
</footer>