<footer class="container-fluid fundo_footer foot_text bg-black">
	
	<a href="#myPage" class="foot_text" title="Para Cima">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>
	<p></p> 
	
	<div class="row text-left foot_text">
		<div id="foot_container">
			<div class="col-xs-6 col-sm-4 col-md-3">
				<ul>
					<li>EMPRÉSTIMO</li>
					<li>INVESTIMENTO</li>
					<li>SOBRE NÓS</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<ul>
					<li>AJUDA</li>
					<li>ASPECTOS LEGAIS</li>
					<li>CONTATO</li>
				</ul>
			</div>
		</div>
	</div>

</footer>
