<nav class="navbar navbar-inverse navbar-fixed-top header-login-signup">
  	<div class="container-fluid header-limiter">
    	<div class="navbar-header">
	      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	      	</button>
	      	<h1><a href="/">Peer<span>Con</span></a><h1>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">
	        	<li class="active"><a href="/">Home</a></li>
	        	<li><a href="#">Sobre</a></li>
	        	<li><a href="#">Ajuda</a></li>
	        	<li><a href="#">Contato</a></li>
	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
	        	<li><a class="login-window" href="/login"><span class="glyphicon glyphicon-user"></span> Entrar</a></li>
	        	<li><a href="/cadastro"><span class="glyphicon glyphicon-log-in"></span> Cadastrar</a></li>
	      	</ul>
    	</div>
	</div>
</nav>
