  <title>PeerCon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- JQUERY -->
  <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>

  <!-- BOOTSTRAP -->
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css">

  <!-- FONTS -->
  <link rel="stylesheet" href="/libs/googleFonts/fonts.css">

  <!-- STYLESHEETS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/geral.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">

  <!-- SCRIPTS -->
  <script type="text/javascript" src="/libs/moneyMask/moneyMask.js"></script>
  <script type="text/javascript" src="/scripts/mask.js"></script>
