  <title>PeerCon</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- JQUERY -->
  <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>

  <!-- BOOTSTRAP -->
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css">

  <!-- FONTS -->
  <link rel="stylesheet" href="/libs/googleFonts/fonts.css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Poppins:Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="libs/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">

  <!-- STYLESHEETS -->
  <!--
  <link rel="stylesheet" type="text/css" href="/stylesheets/geral.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
-->
  <link href="stylesheets/style.css" rel="stylesheet">
  <link id="color-scheme" href="stylesheets/colors/default.css" rel="stylesheet">

  <!-- SCRIPTS -->
  <script type="text/javascript" src="/libs/moneyMask/moneyMask.js"></script>
  <script type="text/javascript" src="/scripts/mask.js"></script>
  <script src="libs/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="scripts/plugins.js"></script>
  <script src="libs/waypoints/lib/jquery.waypoints.js"></script>
  <script src="libs/waypoints/lib/shortcuts/inview.js"></script>
  <script src="scripts/main.js"></script>
