<!DOCTYPE html>
<html>
<head>
	<title>PeerCon</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shrikhand|Gloria+Hallelujah" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/geral.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/header.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/form.css">
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<% include partials/dashboardHeader %>
	<div class="form-style-10">
			<h1>Cadastro de Investidor<span>Mais alguns passos e você já estará investindo em nossos portfólios!</span></h1>
			<form id="registerForm" action="/cadastro" method="post">
    			<div class="section"><span>1</span>Dados Pessoais</div>
    			<div class="inner-wrap">
        			<label>Nome Completo<input type="text" name="name"></label>
        			<label>CPF<input type="text" name="cpf"></label>
        			<label>Data de Nascimento<input type="text" name="date"></label>
        			<label>Telefone Fixo<input type="text" name="telephone"></label>
        			<label>Celular<input type="text" name="cellphone"></label>
        			<label>Renda Mensal Declarada<input type="text" name="renda"></label>
    			</div>
    			<div class="section"><span>2</span>Endereço Residencial</div>
    			<div class="inner-wrap">
        			<label>CEP <input type="text" name="cep"></label>
        			<label>Logradouro <input type="text" name="address"></label>
        			<label>Número <input type="text" name="number"></label>
        			<label>Complemento <input type="text" name="complement"></label>
        			<label>Cidade <input type="text" name="city"></label>
        			<label>Estado <input type="text" name="state"></label>
    			</div>
    			<div class="section"><span>3</span>Documentos</div>
        		<div class="inner-wrap">
        			<label>Senha <input type="password" name="password"></label>
        			<label>Confirmar Senha <input type="password" name="password2"></label>
    			</div>
    			<div class="button-section">
     				<input type="submit" name="Sign Up" value="Enviar" />
     				<span class="error"></span>
    			</div>
			</form>
		</div>
</body>
</html>