<html>
	<head>
		<title>PeerCon</title>
		<meta name="viewport" content="width=device-width" />
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shrikhand|Gloria+Hallelujah">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
		<link rel="stylesheet" type="text/css" href="stylesheets/geral.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/footer.css">
		
	</head>
	<body id="myPage">
		<% include partials/header %>
		<section class="container-fluid">
			<div class="row">
  				<div class="col-md-6">
  					<div class="jumbotron text-center">
					  	<h1>Sou Investidor</h1>
					  	<div class="jumbotron_text">Quero diversificar meus investimentos com retornos fora da curva!</div>
					  	<p><a class="btn btn-primary btn-lg" href="#" role="button">
							<span class="glyphicon glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
					  		Cadastrar</a></p>
					</div>
  				</div>
  				<div class="col-md-6">
  					<div class="jumbotron text-center">
					  	<h1>Sou Empresário</h1>
					  	<div class="jumbotron_text">Quero receber empréstimo sem demora e burocracia, com baixas taxas!</div>
					  	<p><a class="btn btn-primary btn-lg" href="#" role="button">
					  		<span class="glyphicon glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
					  		Cadastrar</a>
					  	</p>
					</div>
  				</div>
  			</div>
		</section>

		<section class="container-fluid box_geral">
			<div class="text-center">
				<h1>NOSSA EMPRESA</h1>
			</div>
			<div class="row">
  				<div class="col-md-12">
  					<p class="text">
  						Utilize os textos abaixo para responder às questões 1 e 2. Texto I Barreira da língua Cenário: um posto de saúde no interior do Maranhão. Buenos dias, señor, o que siente? pergunta o mé di - co. Tô com dor no bucho, comi uma tapioca reimosa, me deu um empachamento danado. Minha cabeça ficou pinicando, deu até um farnizim no juízo. Butcho? Tapiôka? Empatchamiento? Pinicón? Far new zeen??? O trecho acima é de uma piada que circula no Hospital das Clínicas de São Paulo sobre as dificuldades de comunicação que os médicos estrangeiros deverão enfrentar nos rincões do Brasil. (...) (Claúdia Colucci, Folha de S. Paulo, 03/07/2013.) Texto II No texto Barreira da língua, a jornalista Cláudia Collucci reproduz uma piada ouvida no Hospital das Clínicas, em São Paulo, para criticar a iniciativa do governo de abrir a possibilidade de que médicos estrangeiros venham a trabalhar no Brasil. Faltou dizer duas obviedades ululantes para qualquer brasileiro: 1) A maioria dos ilustres médicos que trabalham no Hospital das Clínicas teria tantas dificuldades quanto um estrangeiro para entender uma frase recheada de regionalismos completamente desconhecidos nas rodas das classes média e alta por onde circulam; 2) A quase totalidade deles não tem o menor interesse em mudar para uma comunidade carente, seja no interior do Maranhão, seja num vilarejo amazônico, e lá exercer sua profissão. (...) (José Cláuver de Aguiar Júnior, Painel do leitor, Folha de S. Paulo, 04/07/2013)
  					</p>
				</div>
			</div>			
		</section>
		
		<section class="container-fluid box_geral box_geral_1">
			<div class="fonte-padrao text-center">
				<h1>COMO FUNCIONA</h1>
			</div>
			<div class="row">
  				<div class="col-md-12">
  					<p style="height: 500px"></p>
				</div>
		</section>
		
		<section class="container-fluid box_geral">
			<div class="text-center">
				<h1>O LADO INVESTIDOR</h1>
			</div>
			<div class="row">
  				<div class="col-md-12">
  					<p style="height: 500px"></p>
				</div>
			</div>			
		</section>
		
		<section class="container-fluid box_geral box_geral_1">
			<div class="text-center">
				<h1>O LADO da EMPRESA</h1>
			</div>
			<div class="row">
  				<div class="col-md-12">
  					<p style="height: 500px"></p>
				</div>
			</div>			
		</section>
		<section class="container-fluid bg-grey">
		  <h2 class="text-center">CONTATO</h2>
		  <div class="row">
		    <div class="col-sm-5">
		      <p>Contact us and we'll get back to you within 24 hours.</p>
		      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
		      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
		      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p> 
		    </div>
		    <div class="col-sm-7">
		      <div class="row">
		        <div class="col-sm-6 form-group">
		          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
		        </div>
		        <div class="col-sm-6 form-group">
		          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
		        </div>
		      </div>
		      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
		      <div class="row">
		        <div class="col-sm-12 form-group">
		          <button class="btn btn-default pull-right" type="submit">Send</button>
		        </div>
		      </div> 
		    </div>
		  </div>
		</section>		
		<% include partials/footer %>
	</body>
</html>