<html>
	<head>
		<title>PeerCon</title>
		<meta name="viewport" content="width=device-width" />
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shrikhand|Gloria+Hallelujah">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
		<link rel="stylesheet" type="text/css" href="stylesheets/geral.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/footer.css">
		
	</head>
	<body id="myPage">
		<% include partials/header %>
		<section id="section_ini">
			<section class="container">
				<div class="row">
	  				<div class="col-md-6">
	  					<div>
						  	<h1 class="text-center">Empréstimo para Empresas</h1>
						  	<h3 class="text-center">Simples, rápido e descomplicado</h3>
							<ul>
							  <li><H4>Baixas taxas de juros</H4></li>
							  <li><H4>Muito mais rápido que Bancos</H4></li>
							  <li><H4>Pagamentos mensais descomplicados</H4></li>
							  <li><H4>Sem taxas escondidas</H4></li>
							</ul>						  		
						</div>
	  				</div>
	  				<div class="col-md-6 jumbotron_margens">
	  					<div class="jumbotron text-center" id="sou_2">
						  	<h2>Sou Empresário</h2>
						  	<div class="jumbotron_text">Quero receber empréstimo sem demora e burocracia, com baixas taxas!
						  	</div>
						  	<p><a class="btn btn-primary btn-lg" href="#" role="button">
						  		<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
						  		Cadastrar Empresa</a>
						  	</p>
						</div>
	  				</div>
	  			</div>
			</section>
		</section>
		
		<section class="container-fluid box_geral">
			<div class="text-center">
				<h1>COMO FUNCIONA</h1>
			</div>
			<div class="row txt_justify">
  				<div class="col-sm-1 col-md-1"></div>
  				<div class="col-sm-10 col-md-10">
  					<div id="css-table">
						<div class="col text-center fonte-padrao">
							<div class="panel">1. Cadastro</div>
  							<p><img class="img_HIW" src="img/fill_form.png"></p>
  							<p class="text_col">Preencha o formulário para registrar seu cadastro.</p>
  							<p><a class="btn btn-primary btn-lg" href="#" role="button">
						  		<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
						  		Cadastrar Empresa</a>
						  	</p>
						</div>
						<div class="col text-center fonte-padrao">
							<div class="panel">2. Aprovação</div>
							<p><img class="img_HIW" src="img/approved_form.png"></p>
							<p class="text_col">Após aprovada a solicitação, abrimos para os Investidores.</p>
						</div>
						<div class="col text-center fonte-padrao">
							<div class="panel">3. Empréstimo</div>
							<p><img class="img_HIW" src="img/accepted_loan.png"></p>
							<p class="text_col">Completado 100% do aporte dos investidores, seu empréstimo sai em poucos dias.</p>
						</div>
  					</div>
				</div>
				<div class="col-sm-1 col-md-1"></div>
			</div>
			<div id="HIW_loan">
				<img class="img-responsive" id="HIW_img_G" src="img/HIW_loan.jpg">
				<img class="img-responsive" id="HIW_img_P" src="img/HIW_loan_xp.jpg">
			</div>
		</section>

		
		<section class="container-fluid box_geral box_geral_1">
			<div class="text-center">
				<h1>O LADO INVESTIDOR</h1>
			</div>
			<div class="row">
  				<div class="col-md-12">
  					<p style="height: 500px"></p>
				</div>
			</div>			
		</section>
		
		<section class="container-fluid box_geral box_geral_1">
			<div class="text-center">
				<h1>O LADO da EMPRESA</h1>
			</div>
			<div class="row">
  				<div class="col-md-12">
  					<p style="height: 500px"></p>
				</div>
			</div>			
		</section>
		<section class="container-fluid bg-grey">
		  <h2 class="text-center">CONTATO</h2>
		  <div class="row">
		    <div class="col-sm-5">
		      <p>Contact us and we'll get back to you within 24 hours.</p>
		      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
		      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
		      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p> 
		    </div>
		    <div class="col-sm-7">
		      <div class="row">
		        <div class="col-sm-6 form-group">
		          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
		        </div>
		        <div class="col-sm-6 form-group">
		          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
		        </div>
		      </div>
		      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
		      <div class="row">
		        <div class="col-sm-12 form-group">
		          <button class="btn btn-default pull-right" type="submit">Send</button>
		        </div>
		      </div> 
		    </div>
		  </div>
		</section>		
		<% include partials/footer %>
	</body>
</html>
