<!DOCTYPE html>
<html>
	<head>
		<title>Entrar</title>
		<meta name="viewport" content="width=device-width" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shrikhand|Gloria+Hallelujah" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../scripts/libs/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../stylesheets/libs/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/geral.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/form.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/footer.css">
	</head>

	<body id="myPage">
		<% include partials/header %>
		<div class="form-style-10">
			<h1>Entrar<span>Basta preencher os campos para entrar!</span></h1>
			<% if(success_msg.length > 0) { %>
					<div class="alert alert-success"><%= success_msg %></div>
			<% } %>
			<% if(error_msg.length > 0) { %>
					<div class="alert alert-danger"><%= error_msg %></div>
			<% } %>
			<% if(error.length > 0) { %>
					<div class="alert alert-danger"><%= error %></div>
			<% } %>
			<form id="registerForm" action="/login" method="post">
    			<div class="section"><span>1</span>E-mail</div>
    			<div class="inner-wrap">
        			<input type="email" name="email" placeholder="Seu endereço de E-mail">
    			</div>

    			<div class="section"><span>2</span>Senha</div>
        		<div class="inner-wrap">
        			<input type="password" name="password" placeholder="Preencher com sua senha">
    			</div>
    			<div class="button-section">
     				<input type="submit" name="Sign Up" value="Entrar" />
     				<span class="error"></span>
    			</div>
			</form>
		</div>
		<% include partials/footer %>
	</body>
</html>
