<!DOCTYPE html>
<html>
	<head>
		<title>Entrar</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shrikhand|Gloria+Hallelujah" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/form.css">
		<script   src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<% include partials/header %>
		<div class="form-style-10">
			<h1>Entrar<span>Basta preencher os campos para entrar!</span></h1>
			<% if(success_msg.length > 0) { %>
					<div class="alert alert-success"><%= success_msg %></div> 
			<% } %>
			<% if(error_msg.length > 0) { %>
					<div class="alert alert-danger"><%= error_msg %></div> 
			<% } %>
			<% if(error.length > 0) { %>
					<div class="alert alert-danger"><%= error %></div> 
			<% } %>
			<form id="registerForm" action="/login" method="post">
    			<div class="section"><span>1</span>E-mail</div>
    			<div class="inner-wrap">
        			<label>E-mail <input type="email" name="email"></label>
    			</div>

    			<div class="section"><span>2</span>Senha</div>
        		<div class="inner-wrap">
        			<label>Senha <input type="password" name="password"></label>
    			</div>
    			<div class="button-section">
     				<input type="submit" name="Sign Up" value="Entrar" />
     				<span class="error"></span>
    			</div>
			</form>
		</div>
	</body>
</html>