<!DOCTYPE html>
<html>
<head>
	<title>Portfolios</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shrikhand|Gloria+Hallelujah">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/geral.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/header.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/portifolios.css">
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<% include partials/dashboardHeader %>
	<% if(success_msg.length > 0) { %>
					<div class="alert alert-success"><%= success_msg %></div> 
	<% } %>
	
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
				  	<h2>Seja bem-vindo, <%= user.name %>!</h2>
				  	<% if(isFormComplete){ %>
				  		<p class="painel_geral">Você está pronto para investir!</p>
				  	<% } else { %>
				  		<p class="painel_geral">Basta você completar o formulário de investidor, e já estará apto a investir!</p>
				  	<% } %>
			  	</div>
			  	<% if(isFormComplete) { %>
				  	<div class="col-lg-8 col-md-8 col-sm-12 part">
				  		<div class="col-lg-4 col-md-4 col-sm-4 step check">
				  			<span class="glyphicon glyphicon-ok"></span>
				  			<p>Cadastro PeerCon</p>
				  		</div>
				  		<div class="col-lg-4 col-md-4 col-sm-4 step check">
				  			<span class="glyphicon glyphicon-ok"></span>
				  			<p>Formulário de Investidor</p>
				  		</div>
				  		<div class="col-lg-4 col-md-4 col-sm-4 step check">
				  			<a class="btn btn-primary">Ver portfólios</a>
				  		</div>
				  	</div>
				<% } else { %>
					<div class="col-lg-8 col-md-8 col-sm-12 part">
				  		<div class="col-lg-4 col-md-4 col-sm-4 step check">
				  			<span class="glyphicon glyphicon-ok"></span>
				  			<p>Cadastro PeerCon</p>
				  		</div>
				  		<div class="col-lg-4 col-md-4 col-sm-4 step uncheck">
				  			<span class="glyphicon glyphicon-remove"></span>
				  			<p>Formulário de Investidor</p>
				  		</div>
				  		<div class="col-lg-4 col-md-4 col-sm-4 step check">
				  			<a class="btn btn-primary">Completar cadastro de investidor</a>
				  		</div>
				  	</div>
				<% } %>
		  	</div>
		</div>
		<div id="portfolios">

		</div>
</body>
</html>