<!DOCTYPE html>
<html>
<head>
	<title>Portfolios</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shrikhand|Gloria+Hallelujah">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/geral.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/header.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/portifolios.css">
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<% include partials/dashboardHeader %>
	<% if(success_msg.length > 0) { %>
					<div class="alert alert-success"><%= success_msg %></div> 
	<% } %>
	
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-4 col-md- col-sm-12">
				  	<h2>Seja bem-vindo, <%= user.name %>!</h2>
				  	<% if(isFormComplete){ %>
				  		<p class="painel_geral">Você está pronto para investir!</p>
				  	<% } else { %>
				  		<p class="painel_geral">Basta você completar o formulário de investidor, e já estará apto a investir!</p>
				  	<% } %>
			  	</div>
			  	<div class="container col-lg-8">
				    <div class="row smpl-step" style="border-bottom: 0; min-width: 500px;">
				        <div class="col-xs-4 smpl-step-step complete">
				            <div class="text-center smpl-step-num">Passo 1</div>
				            <div class="progress">
				                <div class="progress-bar"></div>
				            </div>
				            <a class="smpl-step-icon"><i class="fa fa-user" style="font-size: 60px; padding-left: 12px; padding-top: 3px; color: black;"></i></a>
				            <div class="smpl-step-info text-center">Cadastro PeerCon</div>
				        </div>

				        <% if(isFormComplete) { %>
				        <div class="col-xs-4 smpl-step-step complete">
				        <% } else { %>
				        <div class="col-xs-4 smpl-step-step disabled">
				        <% } %>
				            <div class="text-center smpl-step-num">Passo 2</div>
				            <div class="progress">
				                <div class="progress-bar"></div>
				            </div>
				            <a class="smpl-step-icon"><i class="fa fa-dollar" style="font-size: 60px; padding-left: 18px; padding-top: 5px; color: black;"></i></a>
				            <div class="smpl-step-info text-center">Cadastro de investidor</div>
				        </div>
				        <div class="col-xs-4 smpl-step-step disabled">          
				            <div class="text-center smpl-step-num">Passo 3</div>
				            <div class="progress">
				                <div class="progress-bar"></div>
				            </div>
				            <a class="smpl-step-icon"><i class="fa fa-repeat" style="font-size: 60px; padding-left: 7px; padding-top: 7px; color: black;"></i></a>
				            <div class="smpl-step-info text-center">Investir no seu primeiro portfólio!	</div>
				        </div>
				    </div>
				</div>
		  	</div>
		</div>
		<div id="portfolios">

		</div>
</body>
</html>