<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <% include partials/includes %>
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <div class="registration-page">
            <section class="features-section-1 relative image-bg-1 full-screen-js">
                <div class="container">
                    <div class="row inner-wrapper">
                        <div class="col-xs-12">
                            <div class="template-logo text-center">
                                <a class="logo center img-responsive" href="#"><img src="/img/logo-light.png" alt="Main Logo" /></a>
                            </div>
                            <div class="section-header margin-t-30 margin-b-30 text-center light-text">
                                <h4 class="section-heading text-uppercase letter-spacing-4">crie sua conta na PeerCon</h4></div>
                        </div>
                        <div class="col-md-10 col-md-offset-1 col-sm-12">
                            <div class="row">
                                <div class="registration-form col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                                    <div class="registration-form-outer background-1">
                                        <% if(typeof errors !== 'undefined') { %>
                                        <% 		errors.forEach(function(error){ %>
                                              <div class="alert alert-danger"><%= error.msg %></div>
                                        <%		}); %>
                                        <% } %>
                                        <form class="single-form" method="post" action="/cadastro">
                                          <% if(option == 0) { %>
                                            <input type="hidden" name="escolha" value="investidor">
                                          <% } else { %>
                                            <input type="hidden" name="escolha" value="empresa">
                                          <% } %>
                                            <div class="input-outer col-xs-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                        <input class="form-control" name="name" type="text" placeholder="Nome" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-outer col-xs-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                        <input class="form-control" name="email" type="text" placeholder="E-mail" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-outer col-xs-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                        <input class="form-control" name="password" type="password" placeholder="Senha"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-outer col-xs-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                        <input class="form-control" name="password2" type="password" placeholder="Confirmar senha" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-form input-outer col-xs-12">
                                                <div class="button-outer relative">
                                                    <button class="btn btn-fill full-width">Enviar dados</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>

</html>
