<!DOCTYPE html>
<html>
	<head>
		<% include partials/includes %>
	</head>
	<body>
		<% include partials/header %>
		<div class="form-style-10">
			<h1>Vamos começar!<span>Basta preencher este simples formulário para se inscrever!</span></h1>
			<% if(typeof errors !== 'undefined') { %>
			<% 		errors.forEach(function(error){ %>
						<div class="alert alert-danger"><%= error.msg %></div>
			<%		}); %>
			<% } %>
			<form id="registerForm" action="/cadastro" method="post">
				<% if(option == 0) { %>
					<input type="hidden" name="escolha" value="investidor">
				<% } else { %>
					<input type="hidden" name="escolha" value="empresa">
				<% } %>
    			<div class="section"><span>1</span>Nome</div>
    			<div class="inner-wrap">
        			<label>Nome Completo<input type="text" name="name"></label>
    			</div>
    			<div class="section"><span>2</span>E-mail</div>
    			<div class="inner-wrap">
        			<label>E-mail <input type="email" name="email"></label>
    			</div>
    			<div class="section"><span>3</span>Senha</div>
        		<div class="inner-wrap">
        			<label>Senha <input type="password" name="password"></label>
        			<label>Confirmar Senha <input type="password" name="password2"></label>
    			</div>
    			<div class="button-section">
     				<input type="submit" name="Sign Up" value="Enviar" />
     				<span class="error"></span>
    			</div>
			</form>
		</div>
	</body>
</html>
