<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <% include ../../../partials/includes %>
    <link rel="stylesheet" href="/stylesheets/cadastro-investidor.css">
    <script type="text/javascript" src="/scripts/multiStepForm.js"></script>
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <% include ../../../partials/headerInvestidor %>
        <div class="registration-page">
            <section class="features-section-1 relative image-bg-7 full-screen-js">
                <div class="container">
                    <div class="row inner-wrapper">
                        <div class="col-xs-12">
                            <div class="template-logo text-center">
                                <a class="logo center img-responsive" href="#"><img src="/img/logo-light.png" alt="Main Logo" /></a>
                            </div>
                            <div class="section-header margin-t-30 margin-b-30 text-center light-text">
                                <h4 class="section-heading text-uppercase letter-spacing-4">perfil de suitability</h4></div>
                        </div>
                        <div class="col-md-10 col-md-offset-1 col-sm-12">
                            <div class="row">
                                <div class="registration-form col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                                    <div class="registration-form-outer background-1">
                                        <% if(typeof errors !== 'undefined') { %>
                                        <% 		errors.forEach(function(error){ %>
                                              <div class="alert alert-danger"><%= error.msg %></div>
                                        <%		}); %>
                                        <% } %>
                                        <form class="single-form" method="post" action="/dashboard/suitability">
                                            <div class="form-section current">
                                              <div class="input-outer col-xs-12">
                                                  <h6>Como você avalia o seu conhecimento sobre investimentos?</h6>
                                                  <div class="select-outer">
                                                      <select class="form-control contact-plan" name="conhecimento">
                                                          <option value="null" selected disabled>-</option>
                                                          <option value="Nenhum conhecimento">Não tenho conhecimento</option>
                                                          <option value="Razoável">Razoável</option>
                                                          <option value="Bom">Bom</option>
                                                          <option value="Excelente">Excelente</option>
                                                      </select>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                        <h6>Selecione abaixo os investimentos que você tem ou já teve:</h6>
                                                        <input name="investimento" type="checkbox" value="Poupança">Poupança<br>
                                                        <input name="investimento" type="checkbox" value="Renda Fixa">Títulos de renda fixa (CDB, LCI, LCA, Debêntures, DPGE, FIDC, entre outros)<br>
                                                        <input name="investimento" type="checkbox" value="Tesouro Direto">Tesouro Direto (LFT, LTN, NTN-B, NTN-B Principal, NTN-C, NTN-F)<br>
                                                        <input name="investimento" type="checkbox" value="Fundos DI/Renda Fixa">Fundos DI e/ou de Renda Fixa<br>
                                                        <input name="investimento" type="checkbox" value="Fundos Multimercados">Fundos multimercados<br>
                                                        <input name="investimento" type="checkbox" value="Fundos de Ações">Fundos de ações<br>
                                                        <input name="investimento" type="checkbox" value="Fundos Imobiliários">Fundos imobiliários<br>
                                                        <input name="investimento" type="checkbox" value="Previdência">Previdência privada<br>
                                                        <input name="investimento" type="checkbox" value="Ações">Ações<br>
                                                        <input name="investimento" type="checkbox" value="Mercado Futuro">Mercado futuro - BM&F <br>
                                                        <input name="investimento" type="checkbox" value="Derivativos">Derivativos<br>
                                                        <input name="investimento" type="checkbox" value="Nunca Investiu">Nunca investi<br><br>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <h6>Qual é o valor aproximado dos seus investimentos financeiros atualmente?</h6>
                                                  <div class="select-outer">
                                                      <select class="form-control contact-plan" name="valorInvestido">
                                                        <option value="null" selected disabled>-</option>
                                                        <option value="0-20000">R$0-20.000</option>
                                                        <option value="20000-50000">R$20.000-50.000</option>
                                                        <option value="50000-100000">R$50.000-100.000</option>
                                                        <option value="100000-500000">R$100.000-500.000</option>
                                                        <option value="500000-1000000">R$500.000-1.000.000</option>
                                                        <option value="1000000+">R$1.000.000+</option>
                                                      </select>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="form-section">
                                              <div class="input-outer col-xs-12">
                                                  <h6>Qual é o seu objetivo ao investir?</h6>
                                                  <div class="select-outer">
                                                      <select class="form-control contact-plan" name="objetivo">
                                                        <option value="null" selected disabled>-</option>
                                                        <option value="preservar">Preservar capital: corrigir os investimentos pela variação da inflação</option>
                                                        <option value="acumular">Acumular recursos: obter rentabilidade acima da inflação</option>
                                                        <option value="especular">Especular: ter alta valorização, correndo riscos maiores, se necessário</option>
                                                      </select>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <h6>Qual é a melhor opção para descrever sua tolerância ao risco?</h6>
                                                  <div class="select-outer">
                                                      <select class="form-control contact-plan" name="risco">
                                                        <option value="null" selected disabled>-</option>
                                                        <option value="baixa">Baixa: quero rentabilidade acima da poupança com preservação do poder de compra</option>
                                                        <option value="regular">Regular: quero rentabilidade próxima a taxa de juros DI (CDI) e aceito eventuais riscos</option>
                                                        <option value="média">Média: estou disposto a assumir riscos maiores para superar a taxa de juros DI (CDI)</option>
                                                        <option value="alta">Alta: estou disposto a assumir riscos elevados para alcançar retornos expressivos</option>
                                                      </select>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <h6>O que você faria se suas ações caíssem 20%?</h6>
                                                  <div class="select-outer">
                                                      <select class="form-control contact-plan" name="acoes">
                                                        <option value="null" selected disabled>-</option>
                                                        <option value="venderia todas">Venderia todas as minhas ações</option>
                                                        <option value="venderia parte">Venderia uma parte de minhas ações</option>
                                                        <option value="manteria">Venderia uma parte de minhas ações</option>
                                                        <option value="compraria">Compraria mais ações</option>
                                                      </select>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="form-navigation">
                                              <div class="btn-form input-outer col-xs-12">
                                                  <div class="button-outer relative">
                                                      <button id="previous" type="button" class="btn btn-fill previous">Voltar</button>
                                                      <button  id="next" type="button" class="btn btn-fill next">Próximo</button>
                                                      <button  id="submitbtn" type="submit" class="btn btn-fill submitbtn">Enviar dados</button>
                                                  </div>
                                              </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>
