html{
	background-color: #FFFFFF !important;
	margin: 0;
	padding: 0;
}

body{
	font-family:'PT Sans','Open Sans', Verdana, sans-serif !important;
	padding-top: 65px; 
}
.fonte-padrao{
	/*color: black;*/
	size: 16px;
}
.txt_justify{
	text-align: justify;
}
.icon {
	display: none;
}

ul{
	list-style-type: circle;
	color: red;
}
li{
	
	border: none;
	line-height: 14px;
}
li H4{
	color: black;
}
.jumbotron{
    background-color: #5f5f5f;
    color: #ffffff;
    height: auto; 
    padding-top: 10px; padding-bottom: 10px;
    padding-left: 20px; padding-right: 20px;
}
.jumbotron_text {
	height: 80px;
	font-size: 1.1em;
}
.panel-body{
	color: black;
}
.box_geral{
	padding-top: 30px; 
	padding-bottom: 30px;
	height: auto;
}
.box_geral_1{
	background: linear-gradient(to bottom right, #f9f9f9, #f8f8f8);
	color: black;
	height: 400px auto;
	padding-left: 20px; padding-right: 18px;
}


@media screen and (min-width: 550px){

}

@media screen and (min-width: 768px){

}