html{
	background-color: #FFFFFF !important;
	margin: 0;
	padding: 0;
}

body{
	font-family:'Open Sans', sans-serif !important;
}
.section{
	padding-top: 160px; padding-bottom: 160px;
	height: auto;	
}
.section_1{
	background: linear-gradient(to bottom right, red, yellow);
}
.section_2{
	background: linear-gradient(to bottom right, green, white);
}
.fonte-padrao{
	font-family:'Open Sans', sans-serif;
}
.icon {
	display: none;
}
