#section_ini{
	background-image: url("../img/bk_box2.jpg"); 
	background-repeat: repeat;
	margin: 0px;
	padding-top: 40px;
}


/*CSS para Colunas com mesma Altura*/
#css-table {
  display: table;
}
#css-table .col {
  display: table-row;
  width: 33%;
  padding: 10px;
}

.jumbotron_margens{
	padding-top: 40px;
	padding-bottom: 40px;
}
.panel {
	padding: 5px;
	text-align: center;
	background-color: silver;
	color: white;
}
.col .panel{
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

.text_col{
	padding: 0 50px;
}
#HIW_loan{
	margin: auto;
	max-height: 500px;
}

#HIW_img_G{
	display: none;
	width: 100%;
}
#HIW_img_P{
	display: block;
	width: 100%;
	max-height: 500px;
}

@media screen and (min-width: 550px){
	#HIW_loan{
		max-height: 800px;
	}
	#HIW_img_G{
		display: block;
	}
	#HIW_img_P{
		display: none;
	}
}

@media screen and (min-width: 768px){
	#css-table .col {
	  display: table-cell;
	}
	.panel{
		width: auto;
	}
	.col .panel{
		width: auto;
	}
	.img_HIW{
		width: 128px;
	}
	.text_col{
		padding: 0 10px;
	}
}

@media screen and (min-width: 1028px){

}