.painel_geral{
	height: 80px;
}

.part {
	display: inline;
    vertical-align: middle;
    float: right;
}

.step {
	text-align: center;
}

.step p {
	font-size: 20px;
}

.check .glyphicon {
	font-size: 50px;
	color: black;
	background: white;
	border: 1px solid white;
	border-radius: 50%;
	padding: 10px;
}

.uncheck .glyphicon {
	font-size: 50px;
	color: #ccc;
	background: white;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: 10px;
}

.smpl-step {
        margin-top: 40px;
    }
.smpl-step {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

.smpl-step > .smpl-step-step {
    padding: 0;
    position: relative;
}   

.smpl-step > .smpl-step-step .smpl-step-num {
    font-size: 17px;
    margin-top: -20px;
    margin-left: 47px;
}

.smpl-step > .smpl-step-step .smpl-step-info {
    font-size: 14px;
    padding-top: 27px;
}

.smpl-step > .smpl-step-step > .smpl-step-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    display: block;
    background: #5CB85C;
    top: 45px;
    left: 50%;
    margin-top: -35px;
    margin-left: -15px;
    border-radius: 50%;
}

.smpl-step > .smpl-step-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin-top: 37px;
}

.smpl-step > .smpl-step-step > .progress > .progress-bar {
   width: 0px;
   box-shadow: none;
   background: #428BCA;
}

.smpl-step > .smpl-step-step.complete > .progress > .progress-bar {
    width: 100%;
}

.smpl-step > .smpl-step-step.active > .progress > .progress-bar {
    width: 50%;
}

.smpl-step > .smpl-step-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}

.smpl-step > .smpl-step-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.smpl-step > .smpl-step-step.disabled > .smpl-step-icon {
    background-color: #f5f5f5;
}

.smpl-step > .smpl-step-step.disabled > .smpl-step-icon:after {
    opacity: 0;
}

.smpl-step > .smpl-step-step:first-child > .progress {
    left: 50%;
    width: 50%;
}

.smpl-step > .smpl-step-step:last-child > .progress {
    width: 50%;
}

.smpl-step > .smpl-step-step.disabled a.smpl-step-icon {
    pointer-events: none;
}