.jumbotron {
	margin-top: 100px;
}

.intro {
	margin-bottom: 40px;
}

.tab-item .nav-tabs li.completed a{
	background-color: green;
}

.tab-item .nav-tabs li.disabled a{
	background-color: grey;
	pointer-events: none;
	cursor: default;
}
