<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/includes %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/portifolios.css">
</head>
<body>
	<% include ../../partials/headerInvestidor %>
	<% if(success_msg.length > 0) { %>
		<div class="alert alert-success"><%= success_msg %></div>
	<% } %>
		<div class="container">
			<div class="jumbotron">
				<div class="row form-group">
						<div class="intro col-lg-12 col-md-12 col-xs-12">
								<h2>Seja bem-vindo, <%= user.name %>!</h2>
								<% if(isFormComplete && investor.perfil.isComplete){ %>
									<p>Você está pronto para investir!</p>
								<% } else {
											if(!isFormComplete){ %>
									<p>Você precisa completar o formulário de investidor e o perfil de suitability!</p>
											<% } else { %>
									<p>Basta você completar o perfil de suitability e estará apto(a) a investir!</p>
											<% } %>
								<% } %>
						</div>
			      <div class="col-lg-12 col-md-12 col-xs-12">
							<div class="each-item-big tab-item margin-b-20">
									<div class="tab-inner">
											<div role="tabpanel">
													<!-- Nav tabs-->
													<ul class="nav nav-tabs" role="tablist">
															<li class="completed"><a href="#"><span class="glyphicon glyphicon-ok"></span>    cadastro peercon</a></li>
															<li class="<% if(isFormComplete){ %>completed<% } %>"><a href="/dashboard/cadastro-investidor"><% if(isFormComplete){ %><span class="glyphicon glyphicon-ok"></span>    <% } %>formulário de investidor</a></li>
															<li class="<% if(!isFormComplete){ %>disabled <% } else if(investor.perfil.isComplete){ %>completed<% }%>"><a href="/dashboard/suitability">perfil de suitability</a></li>
													</ul>
											</div>
									</div>
							</div>
		        </div>
				</div>
			</div>
		</div>
		<div id="portfolios" style="height: 550px;">

		</div>
		<% include ../../partials/footer %>
</body>
</html>
