<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <% include ../../../partials/includes %>
    <link rel="stylesheet" href="/stylesheets/cadastro-investidor.css">
    <script type="text/javascript" src="/scripts/multiStepForm.js"></script>
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <% include ../../../partials/headerEmpreendedor %>
        <div class="registration-page">
            <section class="features-section-1 relative image-bg-5 full-screen-js">
                <div class="container">
                    <div class="row inner-wrapper">
                        <div class="col-xs-12">
                            <div class="template-logo text-center">
                                <a class="logo center img-responsive" href="#"><img src="/img/logo-light.png" alt="Main Logo" /></a>
                            </div>
                            <div class="section-header margin-t-30 margin-b-30 text-center light-text">
                                <h4 class="section-heading text-uppercase letter-spacing-4">pessoa física</h4></div>
                        </div>
                        <div class="col-md-10 col-md-offset-1 col-sm-12">
                            <div class="row">
                                <div class="registration-form col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                                    <div class="registration-form-outer background-1">
                                        <% if(typeof errors !== 'undefined') { %>
                                        <% 		errors.forEach(function(error){ %>
                                              <div class="alert alert-danger"><%= error.msg %></div>
                                        <%		}); %>
                                        <% } %>
                                        <form class="single-form" method="post" action="/dashboard/cadastro-empresa">
                                            <input type="hidden" name="parte" value="1">

                                            <div class="form-section current">
                                              <h6>Dados pessoais</h6>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                          <input class="form-control" name="name" type="text" placeholder="Nome completo" />
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                          <input class="form-control cpfMask" name="cpf" type="text" placeholder="CPF" maxlength="14"/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                          <input class="form-control dataMask" name="date" type="text" placeholder="Data de nascimento" maxlength="10"/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                          <input class="form-control" name="rg" type="text" placeholder="RG" maxlength="12"/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                          <input class="form-control" name="orgaoEmissor" type="text" placeholder="Órgão emissor"/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                          <input class="form-control" name="cidadeNatal" type="text" placeholder="Cidade natal"/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                          <input class="form-control telefoneMask" name="telephone" type="text" placeholder="Telefone" maxlength="14"/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                          <input class="form-control celularMask" name="cellphone" type="text" placeholder="Celular" maxlength="15"/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <p>Você é uma pessoa politicamente exposta?</p>
                                                  <div class="select-outer">
                                                      <select class="form-control contact-plan" name="politicamenteExposta">
                                                        <option value="Sim">Sim</option>
                                                        <option value="Não">Não</option>
                                                      </select>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <p>Você, como pessoa física, paga aluguel ou financiamento da casa onde mora?</p>
                                                  <div class="select-outer">
                                                      <select class="form-control contact-plan" name="aluguel">
                                                        <option value="Sim">Sim</option>
                                                        <option value="Não">Não</option>
                                                      </select>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                          <input class="form-control moneyMask" name="renda" type="text" placeholder="Renda mensal declarada" />
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                          <input class="form-control moneyMask" name="patrimonio" type="text" placeholder="Valor aproximado do seu patrimônio" />
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="form-section">
                                              <h6>Endereço residencial</h6>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                          <input class="form-control cep" name="cep" type="text" placeholder="CEP" maxlength="8" />
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                          <input class="form-control logradouro" name="logradouro" type="text" placeholder="Logradouro"/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                          <input class="form-control" name="number" type="text" placeholder="Número"/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                          <input class="form-control" name="complement" type="text" placeholder="Complemento" />
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                          <input class="form-control city" name="city" type="text" placeholder="Cidade" />
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="input-outer col-xs-12">
                                                  <div class="form-group">
                                                      <div class="input-group">
                                                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                          <input class="form-control state" name="state" type="text" placeholder="Estado" />
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="form-navigation">
                                              <div class="btn-form input-outer col-xs-12">
                                                  <div class="button-outer relative">
                                                      <button type="button" class="btn btn-fill previous">Voltar</button>
                                                      <button type="button" class="btn btn-fill next">Próximo</button>
                                                      <button type="submit" class="btn btn-fill submitbtn">Enviar dados</button>
                                                  </div>
                                              </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>
