<!DOCTYPE html>
<html>
<head>
	<title>Portfolios</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Shrikhand|Gloria+Hallelujah">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="../../scripts/libs/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/geral.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/header.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/propostas.css">
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<% include ../../partials/headerEmpreendedor %>
	<div class="container">
		<% if(success_msg.length > 0) { %>
					<div class="alert alert-success"><%= success_msg %></div>
		<% } %>
		<div class="row">
		<% propostas.forEach(function(proposta){ %>
				<div class="col-md-3 col-sm-6">
						<div class="thummbnail">
								<div class="caption">
										<h3><%= proposta.emprestimo.valor %></h3>
										<p><%= proposta.emprestimo.prazo %></p>
										<p>Status: <%= proposta.status %></p>
								</div>
						</div>
				</div>
		<% }) %>
		</div>
	</div>
</body>
</html>
